/* INDEX PAGE STYLES */
body {font-family: 'Poppins', Courier, monospace;}
nav>ul {
    background: #ffffff;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    overflow: hidden;
}
li {
    margin: 3%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 6px 6px 30px #435d6b25, -6px -6px 30px #435D6B25;
    overflow: hidden;
    /* height: 70px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.trd {margin: 7.1px;}
h1 {
    font-weight: 600;
    font-size: 30px;
    margin: 10px 0px;
}
.location {
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
    align-items: center;
    font-weight: 600;
}
header>div {
    display: flex;
    width: 100%;
    justify-content: center;
}
header>div :nth-child(2) {margin-left: auto; margin-right: auto;}
.wrapper {margin: 3%;}
p {
    color: #667C8A;
    font-size: 16px;
}
.srch {
    background: white;
    box-shadow: 4px 4px 30px #00000015;
    border-radius: 5px;
    display: flex;
    height: 40px;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}
input {
    display: block;
    width: 100%;
}
nav>ul>li>a>div>p {font-size: 14px;}

button {
    width: 50px;
    height: 50px;
    /* border: solid 5px black; */
    border-radius: 5px;
}
.sections {
    display: flex;
    flex-direction: row;
    /* margin: 5%; */
    justify-content: space-between;
}
.sections>div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 176px;
    width: 95px;
    box-shadow: 6px 6px 30px #435d6b25, -6px -6px 30px #435D6B25;
    margin: auto;
    border-radius: 20px;
    align-content: center;
    align-items: center;
}
.sections>div:hover {
    animation: 1s bounc ease-in-out;
}
.sections>div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 176px;
    width: 95px;
    box-shadow: 0px 0px 0px #435d6b25, 0px 0px 0px #435D6B25;
    margin: auto;
    border-radius: 20px;
    background-color: #C8161D;
    color: white;
}
.sections>div>img {align-self: center;}
.sections>div>p {margin: auto;}
.sections>div>span {align-self: center;}
h3 {margin-top: 20px; font-weight: 600; font-size: 18px; margin-bottom: 20px;}

.popular {display: grid;
grid-template-columns: 50% 50%;
justify-content: center;
align-items: center;}
.popular>a {color: #C8161D; text-align: end; font-size: 12px;}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 100,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.popcard {
    grid-column-start: 1;
    grid-column-end: 3;
    box-shadow: 6px 6px 30px #435d6b25, -6px -6px 30px #435D6B25;
    border-radius: 15px;
    padding: 15px;;
}
.price {
    color: black;
    font-weight: 600;
}
.popcard>a {
    display: grid;
    grid-template-areas: 
    "a a"
    "b c"
    "d d";
    justify-content: space-between;
    gap: 5px;
}
.red {grid-area: a;}
.price {grid-area: c;}
.red {
    /* height: 160px; */
    background: #C8161D;
    border-radius: 15px;
    margin: 15px;
}
.popcard>a>picture {grid-area: a; margin: auto;}
.thevoid {height: 70px;}
span.il {color: #667C8A;}


/* ORDER PAGE STYLES AFTER THIS */


.orheader {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: fixed;
}
.yeah {
    display: flex;
    align-content: center;
    box-shadow: -4px -2px 15px #00000015, 4px 4px 15px #00000015;
    border-radius: 10px;
    justify-content: center;
    margin: 0px 10px;
    margin-top: 15px;
}

.yeah>img {width: 30px;}
.outburjer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    padding-top: 40px;
    text-align: center;

}
.burjer {
    border-radius: 100%;
    box-shadow: 6px 6px 30px #00000010;
    height: 400px;
    width: 100%;
    transform: translateY(-60px);
    z-index: -1;
    position: absolute;
    margin-top: 370px;
}

.sq {
    order: -1;
    /* z-index: 2; */
    background-color: #ffffff;
    /* height: 200px; */
    /* padding-bottom: 150px; */
    width: 100%;
}
.sml {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
    height: 100px;
    margin-top: 100px;
}
.sml>div {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: -4px -2px 15px #00000015, 4px 4px 15px #00000015;
    align-items: center;
    width: 50px;
    height: 50px;
    align-self: flex-start;
    background: #ffffff;
}
.sml :nth-child(2) {

    align-self: flex-end;
    background: #C8161D;
    /* order: 2; */
}
.sml :nth-child(1) {animation: appear 0.5s ease-in-out;}
.sml :nth-child(2) {animation: appear 0.7s ease-in-out;}
.sml :nth-child(3) {animation: appear 0.9s ease-in-out;}

.size>p {
    color: black;
}

.sml :nth-child(2)>p {color: white;}
.plusminus {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #F27D82;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.plusminus>p {
    color: black;
}
.amt {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}
.cart {
    background-color: #C8161D;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px 0px 0px 7px;
    color: #ffffff;
}
.cart>img {width: 20px; margin-right: 5px;}
.gocart {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 40px;
    position: fixed;
    bottom: 30px;
}


.money {
    margin-left: 20px;
    margin-top: 5px;
}

@keyframes bounc {0%{} 10% {transform: translateY(-20px);} 50% {transform: translateY(10px);} 90% {transform: translateY(0px);}}


/* CART BELOW */
.aeaeae {
    width: 100%;
    display: flex;

    justify-content: space-between;
}
.aeaeae>.yeah>img {
    transform: rotateZ(90deg)
}
.cartcard {
    box-shadow: 4px 4px 20px #00000010, -4px -4px 20px #00000010;
    /* height: 120px; */
    display: grid;
    grid-template-areas: "a b c"
    "a d e";
    justify-content: space-around;
    align-items: center;
    margin: 15px 5px;
    border-radius: 10px;
}
.cartcard>img {
    grid-area: a;
    width: 100px;
    align-self: center;
    margin: 10px;
}
.cartcard>p {
    color: black;
    font-weight: 500;

    grid-area: b;
}
.cartcard>.amt {

    grid-area: d;
    border: 1px solid #F2F5F8;
    width: 80px;
}
.cartcard>.moner {
    grid-area: e;
}
.cartcard>.amt>span {
    color: #C8161D;
}
.cartcard>.amt>p {
    color: black;
}
.blackbutton {
    display: flex;
    width: 86%;

    margin: 10px;
    background: black;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    justify-content: center; 
}
.bill {
    display: grid;
    grid-template-columns: auto auto;
    border-top: #F2F5F8 solid 1px;
    margin: 15px;
    padding-top: 20px;
}
.bill>.standingonbusiness {
    color: black;
    font-weight: 500;
    text-align: right;
}
.bill>h4 {
    font-weight: 600;
    margin: 30px 0px;
}
.bill>p {
    margin: 10px 0px;
}
.redbutton {
    background: #C8161D;
    color: #ffffff;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

@keyframes appear {0%{transform:scale(0.1);} 70%{transform:scale(1.1);} 100%{transform:scale(1);}}
.hidden {display: none;}